<html><head><title>{{ headline }}</title></head>
<body bgcolor="#ffffe0" text="#000000">
<table width="100%" cellpadding="2" cellspacing="0" border="0">
 <tr><td bgcolor="#b8860b"><font face="Arial" size="2" color="#ffffff"><b>&nbsp;{{ headline }}</b></font></td></tr>
</table>
<br>
<table cellpadding="8" cellspacing="0" border="1" bgcolor="#ffffcc" width="480"><tr><td>
<font face="Arial" size="2">{{ body }}</font>
</td></tr></table>
<br>
<form method="GET" action="{{ back }}">
<input type="submit" value="ACKNOWLEDGE" style="font-family:Arial;font-size:11px;width:110px">
</form>
</body></html>
