<html><head><title>SUB-ACCOUNT OPENED</title></head>
<body bgcolor="#ffffff" text="#000000">
<table width="100%" cellpadding="2" cellspacing="0" border="0">
 <tr><td bgcolor="#006000"><font face="Arial" size="2" color="#ffffff"><b>&nbsp;SUB-ACCOUNT OPENED</b></font></td></tr>
</table>
<br>
<table cellpadding="3" cellspacing="0" border="0">
 <tr><td><font face="Arial" size="2">CONFIRMATION NUMBER:</font></td><td><font face="Courier New" size="2"><b>{{ confirmation }}</b></font></td></tr>
 <tr><td><font face="Arial" size="2">MEMBER:</font></td><td><font face="Courier New" size="2">{{ member_number }} {{ member.name }}</font></td></tr>
 <tr><td><font face="Arial" size="2">NEW SUFFIX:</font></td><td><font face="Courier New" size="2">{{ suffix }} - {{ label }}</font></td></tr>
 <tr><td><font face="Arial" size="2">OPENING DEPOSIT:</font></td><td><font face="Courier New" size="2">{{ amount }}</font></td></tr>
</table>
<br><font face="Arial" size="2"><a href="/inquiry">RETURN TO INQUIRY</a></font>
</body></html>
